body {
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  margin: 0;
}

.btn {
  background-color: #49b1f7;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
/* 3c58a0 */
.btn:hover {
  background-color: #3c58a0;
  color: #fff;
}

/* Navbar styles */
nav {
  background-color: #49b1f7; /* Dark blue color */
  color: #fff; /* White text color */
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Navbar styles */
nav {
  background-color: #49b1f7; /* Dark blue color */
  color: #fff; /* White text color */
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav .container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-size: 24px;
  font-weight: bold;
}

.logo a {
  text-decoration: none;
  color: #fff; /* White text color */
}

.menu {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.menu li {
  margin-left: 30px;
}

.menu li a {
  text-decoration: none;
  color: #fff; /* White text color */
  transition: color 0.3s ease;
}

.menu li a:hover {
  color: #bdc3c7; /* Grey color */
}

/* prescription */
.prescription-form {
  margin: 50px auto;
  width: 80%;
  max-width: 600px;
  border: 1px solid #ccc;
  padding: 20px;
  border-radius: 5px;
  background-color: #fff;
}

.form-header {
  text-align: center;
  margin-bottom: 20px;
}

.form-title {
  margin: 0;
  font-size: 24px;
}

.form-group {
  margin-bottom: 20px;
}

.form-label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.form-input,
.form-textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  box-sizing: border-box;
  transition: border-color 0.3s ease-in-out;
}

.form-input:focus,
.form-textarea:focus {
  outline: none;
  border-color: #3498db;
}

/* Footer */
footer {
  width: 100%;
  background-color: #333;
  color: #fff;
  padding: 20px 0;
}

footer p {
  font-size: 14px;
  text-align: center;
}

footer a {
  color: #fff;
}
